.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
}

.column {
    background-color: red;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    flex-basis: 18%;
}
